.wrapper {
    max-width: 600px;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 auto;
}

.root{
    background-color: silver;
    padding: 16px;
}

.root>div{
    margin: 0 auto;
}

.forgot-password-link{
    display: block;
    text-align: right;
}

.alt{
    text-align: center;
}