<script src="../../../../protractor.conf.js"></script>

<div id="main-content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h2><a [routerLink]="['/home']" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
            class="fa fa-arrow-left"></i></a> Home</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item active"><a>Dashboard</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix" *ngIf="user">
      <div class="col-lg-3 col-md-4">
        <div class="card top_counter">
          <div class="body">
            <a style="color: black;" [routerLink]="" >
              <div class="icon"><i class="fa fa-send-o"></i> </div>
              <div class="content">
                <div class="text">Total Transaction</div>
                <h5 class="number">{{transactionList.totalCount}}</h5>
              </div>
            </a>

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card top_counter">
          <div class="body">
            <a style="color: black;" [routerLink]="">
              <div class="icon"><i class="fa fa-money"></i> </div>
              <div class="content">
                <div class="text">Successful Transaction</div>
                <h5 class="number">{{transactionList.successfulTransaction}}</h5>
              </div>
            </a>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<ng-template #secretQuestionModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Set Secret Question</h4>
<!--    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
  </div>
  <div class="modal-body">
    <div>
      <form [formGroup]="secretForm" (ngSubmit)="setSecretQuestion()">

        <div class="alert alert-danger" *ngIf="error">
          {{error}}
        </div>
        <div class="alert alert-success" *ngIf="success">
          {{success}}
        </div>
        <mat-form-field appearance="standard" matTooltip="Secret Question" style="padding-right: 20px">
          <textarea matInput required formControlName="question" placeholder="Secret Qustion"></textarea>
        </mat-form-field>
        <mat-form-field appearance="standard" matTooltip="Secret Answer">
          <input matInput type="password" required formControlName="answer" placeholder="Secret Answer">
        </mat-form-field>
        <mat-form-field appearance="standard" matTooltip="Confirm Answer">
          <input matInput type="password" required formControlName="confirmAnswer" placeholder="Confirm Secret Answer">
        </mat-form-field>
        <div class="form-group">
          <span style="color: red;">Please note that the answer will be used when making withdrawals!!</span>
        </div>
        <div class="text-center">
          <button mat-raised-button color="primary" type="submit" [class.disabled]="secretForm.invalid">
            <i class="fa fa-spinner fa-pulse" *ngIf="loading"></i>&nbsp;Submit</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

