<div class="ui basic segment wrapper">
  <div class="ui middle aligned center aligned grid">

    <div class="column">

      <h2 class="ui image header">
        <div class="content">
          Change Password
        </div>
      </h2>

      <div class="ui attached error message" *ngIf="error">
        {{error}}
      </div>

      <form class="ui large form" [formGroup]="form" (submit)="submit()">

        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" placeholder="Password" formControlName="password" [class.error]='password.touched && !password.valid'>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" placeholder="Confirm Password" formControlName="password2" [class.error]='password2.touched && !password2.valid'>
            </div>
          </div>
          <button type="submit" class="ui fluid large primary submit button" [class.disabled]="form.invalid || loading">
                    <i class="notched circle loading icon" *ngIf="loading"></i>
                    Submit</button>
        </div>
      </form>

    </div>

  </div>
</div>